@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sec{
    position: relative;
    width: 100%;
    height:100vh;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#0062be;
    transition: 0.5s;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width:60px;
}
ul{
    list-style: none;
}
header ul{
    position: relative;
    display: flex;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 00;
    margin-left: 40px;
    text-decoration: none;
    /* cursor: pointer; */
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content .textBx{
    position: relative;
    max-width: 800px;
}
.content .textBx h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.content .textBx h2 span{
    font-size: 2em;
}
.content .textBx p{
    color: #fff;
    text-align: justify;
}
.content .textBx a{
    display:inline-block;
    margin-top: 20px;
    padding:8px 20px;
    background:#fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing:1px;
    text-decoration: none;
    text-transform: uppercase;
}
.content .imgBx{
    width:600px;
    display:flex;
    justify-content:flex-end;
    padding-right: 50px;
    margin-top:50px; 
}
.content .imgBx{
    max-height: 524px;
}
.thumb{
    list-style: none;
    position:absolute;
    left:50%;
    bottom:20px;
    transform: translateX(-50%);
    display:flex;
}
.thumb li{
    display: inline-block;
    margin:0 20px;
    cursor:pointer;
    transition:0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-height:40px;
}

.social{
    position:absolute;
    top:50%;
    right:30px;
    transform:translateY(-50%);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.social li a{
    display: inline-block;
    color:white;
    margin:5px 0;
    transform:scale(1.5);
}
.social li:hover{
    transform: translateX(-5px)
}
.nitro{
    
    background:url(img/nitrobg.png);
    width: 100%;
    height:100vh;
    padding:100px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: 30% top;
    /* background:#182e74; */
    /* transition: 0.5s; */
}
.nimgBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nimgBx img{
    max-height: 523px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 3vw;
}
.banner img{ 
    max-width: 362px;
}
.banner h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 38px;
    padding:32px 0px;
    text-align: center;
}
.nitro a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 5px 30px;
    border-radius: 50px;
}